<div class="footer">




<div class="menu01">
<a href="https://www.hercity.com/s/static/about.html">关于倾城</a>  |  <a href="https://www.hercity.com/s/static/weixin.html">微信</a>  |  <a href="https://weibo.com/hercity/" target="_blank" rel="nofollow">微博</a>  |  <a href="https://www.hercity.com/s/static/ad.html">版权声明</a>
</div>
<a href="https://www.tiaopaizi.com/tag/qipao">旗袍什么牌子好</a> <a href="https://www.tiaopaizi.com/tag/yurongfu">羽绒服什么牌子好</a><br />
&copy; 2007-{$smarty.now|date_format:"%Y"} HerCity. All Rights Reserved. | 倾城 版权所有<br />
EMAIL：info@hercity.com<br />
<img src="/statics/images/footer_logo.png">
</div>


<script type="text/javascript" src="/statics/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/statics/js/swiper.jquery.min.js"></script>
<script type="text/javascript">
var swiper = new Swiper('.swiper-container', {
	pagination: '.swiper-pagination',
	autoplay: 2500,
	autoplayDisableOnInteraction: false,
	paginationClickable: false,
	loop: true
});
</script>


<script type="text/javascript" src="/statics/js/common.js"></script>


<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "https://alimama.alicdn.com/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_30229822_5624491_22030520",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>



<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?fa6fac6aa0103541558d72b7f1d1fb7a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>