#global
title = "旗袍女人 中国风韵 | 倾城网"
keywords = "倾城,旗袍,旗袍品牌,旗袍图片,旗袍美女,旗袍摄影,中式时尚,中国元素"
description = "倾城网是一个以传承旗袍文化为主题的公益性网站。从创办之初到现在，一直坚持为旗袍爱好者服务，汇集以旗袍为代表的中式时尚元素，网聚国内外喜欢旗袍与中国元素的知性女人，为她们提供了一个分享与交流的平台。"
copyright = "&copy; 2005-2011 HerCity. All Rights Reserved. | 倾城 版权所有"
email = "muzili@hercity.com"
webmaster = "木子李"