{include file="inc_header.html" current="detail_photo" title="{$post.title}"}

<div class="content">
<h1>{$post.title}</h1>
<h5><span>{$post.dateline|date_format:'Y-m-d'}</span> {if $isMicroMessenger}<a href="http://mp.weixin.qq.com/s?__biz=MjM5MDk1NDg2MA==&mid=208700379&idx=1&sn=8be3cabafcc32fc9725d444f62c505be#rd">倾城网</a>{/if} {if $post.author != ''}<span>{$post.author}</span>{/if} <span>阅读{$post.hits}</span></h5>

<!--非微信类来源-->
{if !$isMicroMessenger}
<!--
<div style="text-align:center;">
<a href="http://m.hercity.com/s/list/55/1.html"><img src="/assets/images/banner/qipao.png" style="width:100%;" /></a>
</div>
-->
<div style="text-align:center;">
<a href="taobao://s.click.taobao.com/enZUldw"><img src="/assets/images/banner/nvred.jpg" style="width:100%;" /></a>
</div>
{/if}



{foreach from=$post.photos item=item}
<p><img src="http://www.hercity.com{$item.filename}" /></p>
{/foreach}
<p>{$post.brief}</p>
<a href="javascript:void(0);" class="point">{$post.point}</a>
</div>
<input type="hidden" id="c_post_id" value="{$post.id}" />

{include file="inc_comment.html"}
{include file="inc_contact.html"}
{include file="inc_footer.html" current="detail_photo"}