<!DOCTYPE HTML>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon" href="/assets/images/ati.png"/>
<title>{$title}</title>
<style type="text/css">
@import url("/assets/css/global.css");
{if $current == 'index'}
@import url("/assets/css/swiper.min.css");
{/if}
</style>
<body>