{include file="inc_header.html" current="show_media" title="{$post.title}"}

<div class="mediabox" style="background-image:url({$post.thumb2});">
<div class="aplay"></div>
<div class="apause"></div>
<div class="timeline"><div class="slider"></div></div>
</div>

<div class="content">
<h1>{$post.title}</h1>
<h5>{$post.brief}</h5>
<audio id="myaudio" src="{$post.mediafile}" >
对不起，您的浏览器不支持Audio标签。
</audio>
<br />
<p>{$post.content}</p>
</div>

{include file="inc_weixin.html"}
{include file="inc_footer.html" current="show_media"}