{include file="inc_header.html" current="list" title="{$title} - 倾城网"}

<!--update-->
<div class="wrap list">
	<div class="left">
		<div class="breadcrumb"><span>{$location}</span> <a class="tb" href="https://list.tmall.com/search_product.htm?q={$key}" isconvert="1" >看看有关【{$key}】的更多>></a></div>


		{if $search}
		<ul>
			{foreach from=$search item=post}
			<li>
			{if $post.thumb1!="/data/upfiles/thumb/"}
			<a class="pic" href="{$post.href}"><img src="{$post.thumb1}" alt="{$post.title}" /></a>
			{/if}
			<a class="cat" href="{$loftcms.config.basePath}{$loftcms.config.htmlListPath}{$post.kind.folder}">[{$post.kind.name}]</a>
			<a class="tit" href="{$post.href}">{$post.title}</a>
			<p>{$post.brief}…</p>
			<span>{$post.dateline|date_format:"%Y-%m-%d"}</span>
			</li>
			{/foreach}
		</ul>
		<!--pages-->
		{$pages}
		{else}
			未找到您要搜索的结果。三秒后返回首页。<meta http-equiv="refresh" content="3; url=http://www.hercity.com/" />
		{/if}


	</div>
	<div class="right_a">
		<div id="abox_c01" class="abox_box" ></div>
		<div class="hc_box">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-4842793887790356";
			/* 300x250, 创建于 07-11-6 */
			google_ad_slot = "1847728237";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		<div class="right_box">
		<h5><a href="">热门推荐</a><span>HOT</span></h5>
			<ul class="imagetext">
			{foreach from=$list_hot item=post}
			<li><div><a class="pic" href="{$post.href}"><img src="{$post.thumb1}" alt="{$post.title}" /></a></div><a class="tit" href="{$post.href}">{$post.title}</a>
			<p>{$post.brief}…</p>
			</li>
			{/foreach}
			</ul>
		</div>
			
		<div id="abox_c02" class="abox_box" ></div>
	</div>
</div>


{include file="inc_footer.html" current="list" template="list"}