{include file="inc_header.html" current="static" title="品牌收录/认证与年费会员 - 倾城网"}


<!--update-->
<div class="wrap static">

	{include file="static/inc_menu.html"}
	<div class="breadcrumb"><a href="/">首页</a>  &gt; 品牌收录/认证与年费会员</div>

	
	<div class="content">

<p><strong>一.品牌收录：</strong><br />
1.倾城网收录以旗袍、中式服装为主要产品的正规品牌。<br />
2.下载以下申请表，认真填写并附上品牌logo、商标证书或商标受理书及3张以上品牌相关图片，发送至邮箱：info@hercity.com<br />
3.品牌入驻申请表：<a href="https://jinshuju.net/f/iNE1cL" target="_blank" class="red">点击这里在线填写</a> 或 <a href="/data/files/brand_info.doc" class="red">点击这里下载表格</a>。<br />
4.品牌入驻收取<span class="red">一次性服务费1000元</span>，收录后的品牌无特殊情况将永久出现在品牌列表页面中。<br />
5.品牌收录咨询QQ/微信：64256534
</p>

<p><strong>二.品牌认证：</strong><br />
1.全新的品牌认证体系，提供更安全更严格的真实性认证，以保护品牌与用户的合法权益。<br />
2.品牌认证后，用户将在品牌列表与品牌展示页看到特有的认证“V”标识。<br />
3.品牌认证后，品牌展示页将不再出现其它广告内容。<br />
4.认证品牌在品牌列表页优先展示。<br />
5.品牌认证费用为：<span class="red">1000元/次(年)</span>。用户每申请一次认证服务需要支付一次审核服务费。<br />
6.只要在规定的时间内，认证申请真实并符合相关认证规范要求，且企业/机构资质合法、有效、完整、准确，申请人获得企业/机构的真实授权，就能通过认证。<br />
7.认证成功后，用户的帐号名称、认证标识及认证信息将会被保留一年。用户最晚应该在认证成功后一年内完成年审认证，年审认证需要另行支付审核服务费。如未通过年审认证，认证标识及认证信息将会被取消。<br />
8.品牌认证联系电话：029-88262866，QQ/微信：64256534
</p>

<p><strong>三.联盟会员：</strong><br />
1.拥有注册商标并良好经营1年以上的品牌，可申请联盟会员。<br />
2.会员将享有认证品牌的所有权益。<br />
3.会员每年在首页轮播或对联位安排不低于30天的展示机会。<br />
4.每年对联盟会员做一次人物访谈及新品发布的报道。<br />
5.联盟会员的年服务费为：<span class="red">3600元/年</span>。按年付费，到期前1个月续费。<br />
6.申请成为联盟会员请联系电话：029-88262866，QQ/微信：64256534
</p>

<p><strong>四.VIP会员：</strong><br />
1.拥有注册商标并良好经营1年以上的品牌，可申请VIP会员。<br />
2.VIP会员将享有认证品牌的所有权益。<br />
3.会员每年在倾城网首页轮播或右侧品牌logo全年展示。<br />
4.每年对VIP会员进行人物访谈、新品发布会、优秀图片、文章等全方位的报道。<br />
5.VIP会员的年服务费为：<span class="red">16000元/年</span>。按年付费，到期前1个月续费。<br />
6.申请成为VIP会员请联系电话：029-88262866，QQ/微信：64256534
</p>


	</div>

</div>

{include file="inc_footer.html" current="static" template="about"}