{include file="inc_header.html" current="static" title="联系我们 - 倾城网"}


<!--update-->
<div class="wrap static">

	{include file="static/inc_menu.html"}
	<div class="breadcrumb"><a href="/">首页</a>  &gt; 联系我们</div>

	<div class="content">
		<strong>内容提供</strong><br />
		QQ：82778359<br />
		Email：tougao@hercity.com (投稿邮箱)<br />
		<br /><br />

		<strong>合作交流</strong><br />
		QQ：64256534<br />
		Email：info@hercity.com
		<br /><br />

	</div>

</div>

{include file="inc_footer.html" current="static" template="about"}