{include file="inc_header.html" current="static" title="商家服务 - 倾城网"}


<!--update-->
<div class="wrap static">


	{include file="static/inc_menu.html"}

	<div class="breadcrumb"><a href="/">首页</a>  &gt; 商家服务</div>

	
	<div class="content">

	
	<h4>单项服务</h4>
	<table cellpadding="12" cellspacing="1" class="servicetb">
	<tr>
	<th style="width:200px;">项目</th>
	<th>描述</th>
	<th style="width:100px;">价格</th>
	</tr>
	<tr>
	<td>品牌官网设计开发</td>
	<td>PC版+移动版兼容架构。<br />专业网页设计师个性化定制设计。<br />前端Html5+CSS+PHP+Mysql。<br />倾城网使用的loftCMS系统支撑。<br />含国际域名及WEB云服务器空间。<br /><b>成功案例：</b><a href="http://www.yuebaijiayi.com" target="_blank">月白中式嫁衣</a> <a href="http://www.qifengtang.org" target="_blank">旧金山旗风堂</a></td>
	<td><span class="rmb">按需求面议</span></td>
	</tr>
	<tr>
	<td>倾城网“品牌排行”栏目收录</td>
	<td>1.倾城网收录以旗袍、中式服装为主要产品的正规品牌。<br />
2.下载以下申请表，认真填写并附上品牌logo、商标证书或商标受理书及3张以上品牌相关图片，发送至邮箱：info@hercity.com<br />
3.品牌入驻申请表：<a href="https://jinshuju.net/f/iNE1cL" target="_blank" class="red">点击这里在线填写</a> 或 <a href="/data/files/brand_info.doc" class="red">点击这里下载表格</a>。<br /></td>
	<td><span class="rmb">￥<span>1000</span>元</span></td>
	</tr>
	<tr>
	<td>网站维护与搜索优化</td>
	<td>品牌官网的日常内容维护与搜索排名优化。</td>
	<td><span class="rmb">￥<span>9000</span>元/年</span></td>
	</tr>
	<tr>
	<td>倾城网品牌认证</td>
	<td>1.认证后，用户将在品牌列表与品牌展示页看到特有的认证“V”标识。<br />
2.品牌认证后，品牌展示页将不再出现其它广告内容。<br />
3.认证品牌在品牌列表页优先展示。<br />
4.认证成功后，用户的帐号名称、认证标识及认证信息将会被保留一年。用户最晚应该在认证成功后一年内完成年审认证，年审认证需要另行支付审核服务费。如未通过年审认证，认证标识及认证信息将会被取消。<br /></td>
	<td><span class="rmb">￥<span>1000</span>元/年</span></td>
	</tr>
	<tr>
	<td>倾城网旗袍店铺认证</td>
	<td>1.认证后，用户将在旗袍店铺列表页与店铺展示页看到特有的“认证”字样。<br />
2.认证店铺在店铺列表页优先展示。<br />
3.认证成功后，用户的帐号名称、认证标识及认证信息将会被保留一年。用户最晚应该在认证成功后一年内完成年审认证，年审认证需要另行支付审核服务费。如未通过年审认证，认证标识及认证信息将会被取消。<br /></td>
	<td><span class="rmb">￥<span>1000</span>元/年</span></td>
	</tr>
	<tr>
	<td>倾城网软文推广</td>
	<td>软文内容需经倾城网编辑部审核。</td>
	<td><span class="rmb">￥<span>100</span>元/篇</span></td>
	</tr>
	<tr>
	<td>倾城网微信公众号群发</td>
	<td>软文内容需经倾城网编辑部审核。</td>
	<td><span class="rmb">￥<span>800</span>元/篇/次</span></td>
	</tr>
	<tr>
	<td>首页广告</td>
	<td><a href="/s/static/ad.html" target="_blank">点击查看广告位示意图</a></td>
	<td>按位置报价</td>
	</tr>	
	</table>
	
	
	
	
	
	<h4>服务套餐</h4>
		
	<table cellpadding="12" cellspacing="1" class="servicetb">
	<tr>
	<th>服务</th>
	<th style="width:160px;">创业版</th>
	<th style="width:160px;">标准版</th>
	<th style="width:160px;">旗舰版</th>
	</tr>
	<tr>
	<td>品牌官网设计开发</td>
	<td>无</td>
	<td>PC版+移动版</td>
	<td>PC版+移动版</td>
	</tr>
	<tr>
	<td>网站维护</td>
	<td>无</td>
	<td>6个月</td>
	<td>12个月</td>
	</tr>
	<tr>
	<td>搜索引擎排名优化</td>
	<td>无</td>
	<td>有</td>
	<td>有</td>
	</tr>
	<tr>
	<td>倾城网“品牌排行”栏目收录</td>
	<td>永久收录</td>
	<td>永久收录</td>
	<td>永久收录</td>
	</tr>
	<tr>
	<td>倾城网品牌认证</td>
	<td>一年</td>
	<td>一年</td>
	<td>一年</td>
	</tr>
	<tr>
	<td>邮寄品牌认证证书</td>
	<td>快递</td>
	<td>快递</td>
	<td>快递</td>
	</tr>
	<tr>
	<td>倾城网“旗袍店铺”栏目收录</td>
	<td>永久收录</td>
	<td>永久收录</td>
	<td>永久收录</td>
	</tr>
	<tr>
	<td>倾城网店铺认证</td>
	<td>一年</td>
	<td>一年</td>
	<td>一年</td>
	</tr>
	<tr>
	<td>邮寄店铺认证证书</td>
	<td>快递</td>
	<td>快递</td>
	<td>快递</td>
	</tr>
	<tr>
	<td>倾城网软文推广</td>
	<td>2篇</td>
	<td>5篇</td>
	<td>10篇</td>
	</tr>
	<tr>
	<td>微信公众号优化</td>
	<td>有</td>
	<td>有</td>
	<td>有</td>
	</tr>
	<tr>
	<td>倾城网首页首屏推荐</td>
	<td>无</td>
	<td>无</td>
	<td>12个月</td>
	</tr>
	<tr>
	<td>倾城网店铺首页推荐</td>
	<td>3个月</td>
	<td>6个月</td>
	<td>12个月</td>
	</tr>
	<tr>
	<td>套餐价格</td>
	<td><span class="rmb">￥<span>3600</span>元/年</span></td>
	<td><span class="rmb">￥<span>18000</span>元/年</span></td>
	<td><span class="rmb">￥<span>28000</span>元/年</span></td>
	</tr>	
	</table>
	
	<h4>联系方式</h4>
	QQ/微信：64256534
	</div>

</div>

{include file="inc_footer.html" current="static" template="about"}