<!DOCTYPE html>
<html>
<head>
<meta charset="gbk" />
<title>关于我们 - 倾城网</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="keywords" content="倾城,旗袍,知性女人,中国风,中式时尚,中国元素,小资,旗袍美女,旗袍图片,旗袍品牌,旗袍摄影,慢生活" />
<meta name="description" content="倾城网是全球唯一的全方位传承旗袍文化、展示旗袍魅力、整合旗袍产业、网聚旗袍女性的网络媒体。倾城网为海内外喜欢旗袍、追求高品质生活的知性女人提供了一个学习、交流与展示的平台。"/>
<meta name="viewport" content="width=1120,minimum-scale=0.1,maximum-scale=2,user-scalable=yes" />


<link rel="stylesheet" type="text/css" href="/assets/css/hercity.css"/>
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"/>
</head>
<body>

<!--toolbar-->
<div class="wrap toolbar">
<div class="hercity"></div>
<div class="tools"></div>

<form method="get" action="/tag/" id="search_form"><input type="text" name="q" maxlength="10" id="search_key" placeholder="输入关键词" /><input type="submit" value="搜索" id="search_btn" /></form>
</div>



<!--header-->
<div class="header">
	<div class="wrap">
		<a class="logo" href="/" target="_self"><img src="/assets/images/logo.png" alt="倾城网" /></a>
		<div class="nav01"><a href="/s/news/">产业前沿</a><a href="/s/appr/">穿搭品鉴</a><a href="/s/lib/">资料馆</a><a href="http://brand.hercity.com/" class="hot">品牌排行</a><a href="/s/shop/" class="hot">旗袍店铺</a><a href="/s/show/">发布会</a></div>
		<div class="nav02"><a href="/s/photo/" class="nav_da">影像</a><a href="/s/photo/qipao/">旗袍摄影</a><a href="/s/photo/chinesestyle/">中国风</a><a href="/s/photo/stills/">旗袍剧照</a><a href="/s/photo/oldphoto/">老照片</a></div>
		<div class="nav03"><a href="/s/people/" class="nav_da">人物</a><a href="/s/people/lady/">名媛</a><a href="/s/people/professional/">业内</a><a href="/s/people/master/">达人</a><a href="/s/people/tell/">进述</a></div>
		<div class="nav04"><a class="nav04_1" href="http://club.hercity.com">会馆</a><a class="nav04_2" href="https://wap.koudaitong.com/v2/showcase/homepage?alias=92tdwln3" rel="external nofollow">购物</a><a class="nav04_3" href="/s/topic/">专题</a><a class="nav04_4" href="http://buluo.qq.com/p/barindex.html?bid=336368" target="_blank" rel="external nofollow">部落</a></div>
	</div>
</div>


<!--
<div class="wrap">
<a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DMdR6y1j%2F8SYcQipKwQzePCperVdZeJvipRe%2F8jaAHci5VBFTL4hn2fjzwYFdiD3RNMWYSf9G9hEF7nPVn9tw%2FB7hQLq5S%2BrPmXe%2BszcYVXgZyJDQ39zRvUAUQdVyQjtvjjlLGQ%2BAYiCIGrHgCgZNHKist33dC4JQxg5p7bh%2BFbQ%3D" target="_blank"><img src="/assets/images/1111.jpg" /></a>
</div>
-->


<!--update-->
<div class="wrap static">

	<div class="menu">
<a href="/s/static/about.html" class="current">关于我们</a>
<a href="/s/static/weixin.html">微信公众号</a>
<a href="http://weibo.com/hercity/" target="_blank" rel="nofollow">微博</a>
<a href="/s/static/ad.html">版权声明</a>
</div>
	<div class="breadcrumb"><a href="/">首页</a>  &gt; 关于我们</div>

	
	<div class="content">
	<p>倾城网是一个以传承旗袍文化为主题的公益性网站，创办于2007年。从创办之初到现在，一直坚持为旗袍爱好者服务，汇集以旗袍为代表的中式时尚元素，网聚国内外喜欢旗袍与中国元素的知性女人，为她们提供了一个分享与交流的平台。</p>
	<p>倾城网开设了产业前沿、穿搭品鉴、资料库、华服品牌、旗袍店铺、发布会、影像、人物等频道，精选优质内容，推崇网友原创，力求在信息铺天盖地的互联网上，第一时间为您呈现最有价值的内容。</p>
	<p>倾城以其独特的气质魅力，每年吸引着数千万网民的关注。依托互联网全球性传播的优势，倾城还吸引了来自美国、俄罗斯、澳大利亚、新西兰、加拿大、韩国、日本、法国、马来西亚、新加坡、德国等数十个国家国际友人的长期访问，已被多个著名大学的相关专业师生所推荐。推动了中国文化在全球的传播。日臻完善的倾城网，正在为增进中西方文化交流、推动中国文化走向世界而努力。</p>
	<p style="border:1px solid #ddd;background:#eee;padding:10px;font-size:12px;height:100%;overflow:hidden;margin:30px 0;">倾城一词，源自古老中国一段美丽的诗歌：“北方有佳人，绝世而独立。一顾倾人城，再顾倾人国。宁不知倾城与倾国？佳人难再得！”。后来被引申，形容“女子艳丽无比，貌压全城”。</p>
	</p>
	
	</div>

</div>


<div class="footer_static">
&copy; 2007-2017 HerCity. All Rights Reserved. | 倾城 版权所有<br />
</div>



<script type="text/javascript" src="https://zz.bdstatic.com/zzdashang/js/bd-zz-reward.js"></script>

<script type="text/javascript" src="/assets/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/s/abox.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/slide.js"></script>
 
<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_30229822_5624491_22030520",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组建必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>



<script>
var _hmt = _hmt || [];

(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fa6fac6aa0103541558d72b7f1d1fb7a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>